// ===========================================================================================
//               COMMMON RULE
// ===========================================================================================

%prev-next {
    color: color(primary);
    background-color: $white;
    padding: 26px 20px;
    border-radius: $br-radius;
}
%swiper-position {
    position: relative;
}
.swiper-pagination-bullet {
    background-color: $color--seconary;
}
.swiper-button-prev {
    @extend %prev-next;
    box-shadow: 6px 0px 10px rgba(color(primary),0.17);
}
.swiper-button-next {
    @extend %prev-next;
    box-shadow: -6px 0px 10px rgba(color(primary),0.12);
}
.swiper-button-prev:after, 
.swiper-button-next:after {
    font-size: em(28px);
}

// ===========================================================================================
//               SPECIFIC RULE [SECTIONS]
// ===========================================================================================

.service {
    &-content {
       @extend %swiper-position;
        .swiper2 {
            position: initial;
            padding: 20px 0px;
            .swiper-pagination {
                bottom: -40px;
            }
        }
    }
}

.testimonial {
    @extend %swiper-position;
    .swiper1 {
        position: initial;
        overflow: initial;
        .swiper-pagination {
            bottom: -74px;
           @include mq('md') {
             bottom: -50px;
           }
        }
    }
}