// ==========================================================
//         USEFULL HELPERS 
// ==========================================================

%center {
    text-align: center;
}

%position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
%position-top {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
%position-left {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

%bar-center {
    .sec-heading {
        &::after {
            left: 50%;
            transform: translateX(-50%)
        }
    }
}

.border-none {
    border: none;
}

%small-text__14 {
    font-size: em(14px);
}

%small-text__18 {
    font-size: em(18px);
}

%top {
    position: relative;
    z-index: 2;
}

%top-20 {
    margin-top: 20px;
}

%top-30 {
    margin-top: 30px;
}

%top-50 {
    margin-top: 50px;
}

%top-80 {
    margin-top: 80px;
}

%top-110 {
    margin-top: 110px;
}

%bottom-50 {
    margin-bottom: 50px;
}

%bottom-80 {
    margin-bottom: 80px;
}

%bottom-110 {
    margin-bottom: 110px;
}

%transition {
    transition: transform $transition ease-in-out;
    &:hover {
        transform: translateY(-15px);
    }
}