// ================================================
//             PSEUDO
// ================================================

%pseudos {
    display: block;
    content: '';
    position: absolute;
}