// =============================================================================
// PRICING PAGE[RULE]
// =============================================================================

#pricing {
    @extend %top-80;
    margin-bottom: 80px;
    @include mq('md') {
        margin-bottom: 350px;
    }
}

.pricing {
    .heading {
        @extend %center;
        @extend %bar-center;
    }
    &-content {
        @extend %top-80;
        background-color: $bg-color;
        border-radius: $br-radius;
        position: relative;
        padding: 20px 20px 0;
        @include mq('md') {
            padding: 50px 10px;
            height: 300px;
        }
        @include mq('lg') {
            padding: 50px;
        }
        &--bg {
            border-radius: $br-radius;
            @include mq('md') {
                background-color: $white;
            }
            @include mq('lg') {
                position: absolute;
                top: 100px;
                left: 50%;
                transform: translateX(-50%);
                width: 85%;
                max-width: 800px;
            } 
            @include mq('xl') {
                width: 75%;
            }
        }
    }

    &-card {
        @include mq(xs) {
            margin-bottom: 24px;
            border-radius: $br-radius;
        }
        background-color: $white;
        box-shadow: 0 0 10px rgba($black, 0.05);
        @extend %center;
        &--content {
            padding: 20px;
            h3 {
                font-size: em(17px);
                font-weight: $font-weight--md;
                text-transform: uppercase;
                color: color(grey, light);
            }
            ul {
                li {
                    display: block;
                    padding: 8px 10px;
                    font-size: em(15px);
                    border-bottom: 1px solid color(grey, x-light);
                    &:first-child {
                        font-weight: $font-weight--md;
                        color: color(primary, light);
                    }
                }
            }
            h2 {
                font-size: em(32px);
                font-weight: $font-weight--lg;
                margin: 20px 0px;
                line-height: (42px/32px);
                color: color(primary, light);
            }
            .btn {
                padding: 3px 30px;
            }
        }
    }
}

// ============================================================================
//  CALLUS
// ============================================================================

.callus {
    background-color: color(primary);
    color: $white;
    @extend %top-80;
    @extend %bottom-80;
    padding: 25px 50px;
    text-align: center;
    h3 {
        font-size: em(32px);
        font-weight: $font-weight--lg;
        letter-spacing: $letter-space * 3;
        @include mq('md') {
            font-size: em(42px);
        }
        @include mq('lg') {
            font-size: em(62px);
            line-height: (62px/62px);
        }
    }
    h4 {
        font-size: em(25px);
        font-weight: $font-weight--md;
        line-height: (30px/25px);
        margin-bottom: em(12px, 25px);
    }
}