// ==========================================================================
//  SERVICES
// ==========================================================================

.card-article {
    a {
        display: inline-block;
        color: $color--seconary;
        font-size: em(13px);
        font-weight: $font-weight--md;
        text-transform: uppercase;
        margin-top: 20px;
    }
}

.article {
    display: block;
    overflow: hidden;

    .btn {
        color: $white;
        border: none;
    }
}